<!doctype html>
<html lang="en">
<head>
    ##head##
    <title>Home</title>
</head>
<body>
    ##header##
    <section class="with-background">
        <p>
            Texas hold 'em (also known as hold 'em or holdem) is a variation of the standard card game of poker.
            Texas hold 'em consists of two cards (hole cards) being dealt face down to each player and then five
            community cards being placed face-up by the dealer — a series of three ("the flop") then an additional
            single card ("the turn" or "fourth") and another additional card ("the river" or "fifth street") - with
            players having the option to check, bet, raise or fold after each deal; i.e., betting may occur prior
            to the flop, "on the flop", "on the turn", and "on the river". Texas Hold 'em is the "H"
            game featured in H.O.R.S.E and in H.O.S.E.<br /><br />
            <a href="http://en.wikipedia.org/wiki/Texas_hold_%27em">[Wikipedia]</a>
        </p>
    </section>
    ##footer##
</body>
</html>