<!doctype html>
<html lang="en">
<head>
    ##head##
    <title>Choose a room</title>
</head>
<body>
    ##header##
    <section>
        <h2>Choose a room</h2>
        <table>
            <thead>
                <tr>
                    <th>#</th>
                    <th>Language</th>
                    <th>Name</th>
                    <th>Peoples</th>
                    <th>Join</th>
                </tr>
            </thead>
            <tbody>
                ##list##
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="5"><a href="/room/new"><button>New room</button></a></td>
                </tr>
            </tfoot>
        </table>
    </section>
    ##footer##
</body>
</html>