<!doctype html>
<html lang="en">
<head>
    ##head##
    <title>User's stats</title>
</head>
<body>
##header##
<section class="with-background">
    <h2>User stats</h2>
    <ul>
        <li>Total time played : ##timePlayed##</li>
        <li>Number of games done : ##nbrRoomDone##</li>
        <li>Average of games duration : ##avgRoomDuration##</li>
        <li>Number of games won : ##nbrRoomWon##</li>
        <li>Number of rounds before win : ##nbrRoundBeforeWin##</li>
        <li>Number of rounds before loose : ##nbrRoundBeforeLoose##</li>
    </ul>
</section>

##footer##
</body>
</html>